<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs-content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptas impedit! Commodi, ut vero libero laboriosam magnam nisi molestias, exercitationem explicabo minima error modi laborum ipsam, porro nostrum similique voluptatum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero laudantium suscipit voluptatum consequuntur sunt totam, libero quae voluptatem laborum nisi, excepturi provident eligendi! Aliquid nostrum, obcaecati natus quisquam exercitationem iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, veniam. Eos ipsam minus unde? Alias quibusdam, perferendis nemo ratione eligendi recusandae dicta, sapiente iure hic corporis exercitationem ab facilis eius!</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>